.MuiPopover-root {
  z-index: 2002 !important;
}

.MuiSnackbar-root.error-view {
  z-index: 9999;
}

/* MUI Dialog backdrop */
.MuiDialog-root .MuiBackdrop-root {
  z-index: auto;
}

/* MUI Dialog — ensure dialogs are above most content */
.MuiDialog-root {
  z-index: 9998 !important;
}

.sticky {
  z-index: 2001;
}

.mn-footer-container {
  z-index: 1001;
}
